body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  transition: background 0.5s ease;
}

#app {
  padding: 50px;
}

h1 {
  margin-bottom: 10px;
}

#catImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  margin: 20px 0;
  transition: transform 0.5s ease;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
